---
---

@import "{{ site.theme }}";

#header-link { color: white; }

#app-store { width: 442px; padding:30px; }

#play-store { width:646px; }

#stool-image {  height: 400px; width: 400px; margin-left: 50px; margin-right: 50px; }