---
---

@import "{{ site.theme }}";

#header-link { color: white; }

#app-store { padding: 30px; width: 442px; }

#stool-image {  height: 400px; width: 400px; margin-left: 50px; margin-right: 50px; }